@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Outfit', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p{
  font-size: 1.6rem;

}
h1{
  font-size: 6rem;
}

.app{
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: rgba(0,0,0, 0.4);
  color: white;
}

.app::before{
  content:"";
  background: url(assets/pink.jpg) no-repeat center center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top:0;
  left:0;
  z-index: -1;
}

.container{
  max-width: 700px;
  height: 500px;
  margin: auto;
  position: relative;
  top:10%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.app .top{
  width: 100%;
  position: relative;

}

.app .bottom {
  width: 100%;
  display:flex;
  justify-content: space-evenly;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.08);
  border-radius: 12px;
  padding: 1rem;
  margin-bottom: 1rem;
  
}
.bold{
  font-weight: 700;
}

.app .search{
  text-align: center;
  padding: 1rem;
}

.app input{
  padding: .7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 25px;
  border:1px solid rgba(255,255,255,0.9);
  background: rgba(255,255,255, 0.1);
  color:white;
  outline: none;
}

::placeholder{
  color:white
}

.icon img{
  width: 150px;
  height: 150px;
  position: absolute;
  left:-25px
}